Package: com.linusyang.appsync
Name: AppSync
Priority: standard
Pre-Depends: firmware (>= 5.0)
Depends: mobilesubstrate (>= 0.9.5100)
Conflicts: us.hackulo.appsync50plus, net.angelxwind.appsyncunified, com.teiron.ppsync, com.xsellize.appsync50, com.xsellize.appsync50plus, appsync50plus.178
Provides: appsync
Version: 0.4
Architecture: iphoneos-arm
Description: AppSync for iOS 5 through 8.1
Depiction: https://yangapp.googlecode.com/svn/info/appsync.html
Maintainer: Linus Yang <laokongzi+appsync@gmail.com>
Author: Linus Yang <laokongzi+appsync@gmail.com>
Section: Tweaks
Homepage: https://github.com/linusyang/AppSync
